<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 text-center">
            <footer role='contentinfo'>
                <p><small>Copyright &copy; Nick Feller &amp; Montreal</small></p>
            </footer>
        </div>
    </div>
</div>